# Archivos subidos por usuarios / temporales
Assets/uploads/

# Plantillas locales

# Dependencies
vendor/

# Storage
Logs/

# Debug
debug_local.log

Config/Config_local.php
Config/Config_local.example.php
.scannerwork/*
sonar-project.properties
ddagent-install.log

# Guías y documentación local
FLUJO_DE_TRABAJO.md
GUIA_FRAMEWORK.md
CHANGELOG_DB_SCHEMA.md
HISTORIAL_COMMITS.md
PLAN_MASTER_LOGISTICA.md
PLAN_DESARROLLO_TECNICO_LOGISTICA.md

# Archivos de respaldo de Base de Datos y Contexto DB
db info/
db_info/
*.sql

# vscode config
.vscode/

# Docker
docker/
docker-compose.yml

# Archivos de interfaz de ejemplo
interfaz ejemplo*
