# Archivos subidos por usuarios / temporales
Assets/uploads/
Assets/images/uploads/

# Dependencias
vendor/

# Logs y almacenamiento temporal
Logs/
debug_local.log
ddagent-install.log

# Scanner / Sonar
.scannerwork/*
sonar-project.properties

# Archivos del sistema
.DS_Store
Thumbs.db

# Configuración de editor
.vscode/

