# Archivos subidos por usuarios / temporales
Assets/uploads/

# Plantillas locales

# Dependencies
vendor/

# Storage
Logs/

# Debug
debug_local.log

Config/Config_local.php
.scannerwork/*
sonar-project.properties
ddagent-install.log
Assets/uploads/