
.headerRegister, .header-primary{
	background: #009688;
	color: #FFF;
}
.headerUpdate{
	background: #007bff;
	color: #FFF;
}

/*Estilos login*/
#divLoading{
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(254,254,255, .65);
	z-index: 9999;
	display: none;
}
#divLoading img{
	width: 50px;
	height: 50px;
}




/* CONTENEDOR DEL SCROLL (franja de tabs) */
.checkout-tab .step-arrow-nav {
    overflow-x: auto !important;        
    -webkit-overflow-scrolling: touch;  
}

/* UL de tabs en una sola fila */
.checkout-tab .step-arrow-nav .custom-nav {
    display: flex !important;
    flex-wrap: nowrap !important;       /* que no bajen de línea */
    white-space: nowrap !important;
    gap: 4px;
    padding-bottom: 6px;
}


.checkout-tab .step-arrow-nav .custom-nav .nav-item {
    flex: 0 0 auto !important;
}


.checkout-tab .step-arrow-nav::-webkit-scrollbar {
    height: 6px;
}

.checkout-tab .step-arrow-nav::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 8px;
}


.dropzone-hover {
    border: 2px dashed #0d6efd;
    background-color: rgba(13, 110, 253, 0.03);
}



.tabla-ruta{
  table-layout: fixed;   
  width: 100%;
}

.tabla-ruta th,
.tabla-ruta td{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.tabla-ruta td:nth-child(2){
  white-space: normal;
}


#tblCatalogHerramientas {
  width: 100% !important;
}

/* .dataTables_wrapper {
  width: 100%;
}

.table-responsive {
  width: 100%;
} */


.form-disabled {
  opacity: 0.6;                 /* Más opaco */
  background-color: #f5f5f5;    /* Gris claro */
  cursor: not-allowed;          /* Cursor de deshabilitado */
  pointer-events: none;         /* No clic */
}



.input-group .select2-container {
  flex: 1 1 auto;
  width: 1% !important;
}

.input-group .select2-container .select2-selection--single {
  height: calc(2.25rem + 2px);
  display: flex;
  align-items: center;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* estilos de calindaRIO  */

.fc .fc-daygrid-day-frame{
  min-height: 115px; /* ajusta: 95, 110, 130 */
  padding: 8px;
}


.fc .fc-daygrid-day-top{
  padding: 6px 6px 0 6px;
}


.fc .fc-daygrid-day-events{
  margin-top: 6px;
}


.fc .fc-daygrid-event{
  padding: 4px 6px;
  border-radius: 6px;
  font-size: 12px;
}


.fc .fc-scrollgrid, 
.fc .fc-scrollgrid-section > td{
  border-color: #eef0f3;
}


/* estilos de calindaRIO  */








